.espera {
    max-width: 100%;
    width: 750px;
    height: 451px;
    top: 835px;
    left: 345px;
    border-radius: 8px;
    border: 1px;
    margin: auto;
    background: linear-gradient(0deg, #DFDFDF, #DFDFDF),
        linear-gradient(0deg, #E4E4E4, #E4E4E4);
    border: 1px solid #DFDFDF
}

.voltar {
    width: 174px;
    height: 39px;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    color: #000 !important;
    background: #F5CA2E;
    border: 1px solid #F5CA2E;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
}

.btn-final {
    text-align: center;
}

.moldura img {
    filter: drop-shadow(#333 1px 3px 3px);
}

.moldura figcaption,
.legenda {
    font-size: 12px;
}

h2 {
    color: #fff;
    margin-bottom: 30px;
}

li {
    margin-bottom: 0.8em;
    list-style-image: none;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bloco1 {
    background: url('../images/01/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: auto;
}

.fundo-tecnicos {
    padding: 30px 0 0 0;
}

#booklet>header {
    margin-top: 80px;
    padding-right: 25vw;
    padding-top: 0px;
    margin-bottom: -80px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

.linhatempo {
    list-style: none;
    padding: 20px 0;
    position: relative;
}

.linhatempo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    background-color: #0b3b4b;
    margin-left: -1px;
}

.linhatempo-item {
    padding-left: 20px;
    position: relative;
    margin-bottom: 50px;
    clear: both;
}

.linhatempo-item:before {
    content: '';
    position: absolute;
    left: -9px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.linhatempo-item .linhatempo-conteudo {
    position: relative;
    width: 50%;
    float: left;
    padding: 10px;
    border-radius: 5px;
    margin-right: 13px;
    margin-left: 30px;
}

.linhatempo-item:nth-child(even) .linhatempo-conteudo {
    float: right;
}

.linhatempo-item .linhatempo-conteudo .btn {
    width: 100%;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    outline: none !important;
}

.linhatempo-item .linhatempo-conteudo .btn img {
    width: 406px;
    height: 355px;
    display: block;
    border-radius: 5px;
}

.linhatempo-item .linhatempo-conteudo .btn:hover {
    transform: scale(1.1);
}

.linhatempo-item .linhatempo-conteudo .btn:focus {
    box-shadow: none !important;
}

.descricao::-webkit-scrollbar {
    width: 10px;
}

.descricao::-webkit-scrollbar-track {
    background-color: #0b3b4b;
}

.descricao::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}

.descricao {
    scrollbar-width: thin;
}

.descricao {
    scrollbar-color: #ffffff #0b3b4b;
}

.descricao {
    display: none;
    position: absolute;
    background-color: #0b3b4b;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
    max-width: calc(100vw - 426px);
    width: 406px;
    height: 355px;
    overflow-y: auto;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    right: calc(100% + 10px);
    transition: right 0.3s ease;
}

.descricao.active {
    display: block;
    right: auto;
    left: calc(100% + 10px);
    width: 100%;
}

/* .linhatempo-item:nth-child(even) .descricao.active {
    left: auto;
    right: calc(100% + 10px);
} */
.linhatempo-item:nth-child(even) .descricao.active {
    left: auto;
    right: calc(100% + -2px);
}

.descrimob {
    background-color: #0b3b4b;
    color: #ffffff;
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.linhatempo-item:last-child .linhatempo-conteudo .btn-descricao10 img {
    width: unset;
    height: unset;
    margin: auto;
    display: block;
}

.linhatempo-item:last-child .linhatempo-conteudo .btn-descricao10 {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 64px;
    transform: translateX(-50%);
    margin: 0 auto;
    display: block;
}

#descricao10.descricao {
    left: 89%;
    transform: translateX(-50%);
    top: calc(100% + -25px);
    margin-top: 10px;
    width: 406px;
    max-width: 100%;
}

.linhatempo-item .descricao.active {
    margin-left: -42px;
}

@media (max-width: 1024px) {
    #descricao10.descricao {
        left: 78%;
        transform: translateX(-50%);
        top: calc(100% + -25px);
        margin-top: 10px;
        width: 361px;
        max-width: 100%;
    }
}