figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulo-b1 {
    color: #50D7E2;
    font-weight: bold;
}

.titulo-b4 {
    color: #0b3b4b;
    font-weight: bold;
}

.caixa-destaque,
.caixa-destaque-livre {
    background-color: #50D7E2;
}

.bloco1 {
    background: url('../images/02/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
    padding-top: 100px;
    padding-bottom: 100px;
}

.bloco2 {
    background-color: #0b3b4b;
    color: #fff;
    position: relative;
    z-index: 9;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bloco3 {
    background: url('../images/02/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bloco4 {
    background-color: #fdcf6e;
    color: #000;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bloco5 {
    background: url('../images/02/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bloco6 {
    background-color: #0b3b4b;
    color: #fff;
    position: relative;
    z-index: 9;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bloco7 {
    background: url('../images/02/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
    padding-bottom: 50px;
    padding-top: 50px;
}

li {
    margin-bottom: 0.8em;
    list-style-image: none;
    font-weight: bold;
}

.espera {
    max-width: 100%;
    width: 750px;
    height: 451px;
    position: relative;
    top: -200px;
    border-radius: 8px;
    margin: auto;
    background: linear-gradient(0deg, #DFDFDF, #DFDFDF),
        linear-gradient(0deg, #E4E4E4, #E4E4E4);
    border: 1px solid #DFDFDF
}

.voltar {
    width: 174px;
    height: 39px;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    color: #000 !important;
    background: #F5CA2E;
    border: 1px solid #F5CA2E;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

table.senac th {
    background-color: #114454;
    color: #45c0cd;
    border: solid 1px #114454;
}

table.senac td {
    text-align: center;
    background-color: #bbc3c3;
    color: #000;
    font-weight: bold;
    border-color: #114454;
}

table.senac {
    margin: 0 1.5em 2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid 1px #114454;
}

.tabela {
    border-radius: 30px;
}

/* painel clicavel estilo popover*/
.popover-content {
    color: #fff;
    background-color: #174351;
    border: 1px solid #fed06e;
    border-radius: 5px;
}

.popover {
    max-width: 300px;
}

.popover .arrow {
    display: none !important;
}

.btn-curvas {
    background-color: #174351;
    color: #ffff;
    border-radius: 5px;
    margin: 30px;
    z-index: 10;
    position: relative;
}

.btn-curvas:focus {
    border: 1px solid #fed06e;
}

.btn-curvas:hover {
    scale: 1.1;
}

.painel-curvas {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.btn-curva1 {
    top: 300px;
}

.btn-curva2 {
    top: 250px;
}

.btn-curva3 {
    top: 200px;
}

/* fim painel clicavel estilo popover*/
/* painel gaitinha*/
.panel-heading {
    color: #0b3b4b !important;
    background-color: #fed06e !important;
    border-color: transparent !important;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: none !important;
    border: none !important;
    border-bottom: none !important;
    /* Remove a borda inferior */
}

.panel-heading a {
    color: #0b3b4b !important;
    background-color: #fed06e !important;
    border-color: transparent !important;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: none !important;
    border: none !important;
}

.panel-heading a:hover,
.panel-heading a:focus {
    background-color: #fed06e !important;
    border-color: transparent !important;
}

.panel,
.panel-body {
    color: #0b3b4b;
    background-color: #fed06e;
    border-color: transparent;
    box-shadow: none;
    border: none;
}

/* fim painel gaitinha*/
.btn-final {
    text-align: center;
}

.fundo-tecnicos {
    padding: 30px 0 0 0;
}

#booklet>header {
    margin-top: 80px;
    padding-right: 25vw;
    padding-top: 0px;
    margin-bottom: -80px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .btn-curva1 {
        top: unset;
    }

    .btn-curva2 {
        top: unset;
    }

    .btn-curva3 {
        top: unset;
    }
}