html,
body {
    background: url('../images/06/bg01.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}

.caixa-destaque {
    background-color: #0b3b4b;
    color: #fff;
}

.caixa-destaque {
    width: 90%;
}

.olho li {
    margin-bottom: 0.8em;
    list-style-image: url(../images/06/marcador.png);
    padding-top: 10px;
}

li {
    margin-bottom: 0.8em;
    list-style-image: none;
    padding-top: 10px;
    font-weight: bold;
}

.modal-principal {
    background: url('../images/06/bg02.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.container-modal {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
}

h2,
h3,
h4 {
    color: #50D7E2 !important;
    font-weight: bold;
}


.espera {
    max-width: 100%;
    width: 750px;
    height: 451px;
    top: 835px;
    left: 345px;
    border-radius: 8px;
    border: 1px;
    margin: auto;
    background: linear-gradient(0deg, #DFDFDF, #DFDFDF),
        linear-gradient(0deg, #E4E4E4, #E4E4E4);
    border: 1px solid #DFDFDF
}

.voltar {
    width: 174px;
    height: 39px;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    color: #000 !important;
    background: #F5CA2E;
    border: 1px solid #F5CA2E;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-final {
    text-align: center;
}

.moldura img {
    filter: drop-shadow(#333 1px 3px 3px);
}

.moldura figcaption,
.legenda {
    font-size: 12px;
}

/* infografico */
.popover-content {
    color: #fff;
    background-color: #174351;
    border: 1px solid #fed06e;
    border-radius: 5px;
}

.popover {
    max-width: 300px;
}

.popover .arrow {
    display: none !important;
}

.espaco {
    padding-top: 220px;
}

.painel-higienizacao {
    display: flex;

}

.bt-higienizacao {
    margin: 20px;
    border: none;
    z-index: 10;
    position: relative;
}

.bt-higienizacao1 {
    background: url('../images/06/p_bt01.png');
    height: 177px;
    width: 177px;
    right: -362px;
    top: 24px;
}

.bt-higienizacao2 {
    background: url('../images/06/p_bt02.png');
    height: 176px;
    width: 176px;
    right: -412px;
    top: 200px;
}

.bt-higienizacao3 {
    background: url('../images/06/p_bt03.png');
    height: 176px;
    width: 176px;
    bottom: -369px;
    right: 66px;
}

.bt-higienizacao4 {
    background: url('../images/06/p_bt04.png');
    height: 176px;
    width: 176px;
    left: -545px;
    top: 200px;
}

.bt-higienizacao1:hover {
    background: url('../images/06/p_bt01b.png');
}

.bt-higienizacao2:hover {
    background: url('../images/06/p_bt02b.png');
    height: 172px;
    width: 172px;
}

.bt-higienizacao3:hover {
    background: url('../images/06/p_bt03b.png');
    height: 172px;
    width: 172px;
}

.bt-higienizacao4:hover {
    background: url('../images/06/p_bt04b.png');
    height: 172px;
    width: 172px;
}

/* fim infografico */



/* painel descarte */
.painel-descarte {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bt-descarte {
    margin: 20px;
    border: none;
    height: 144px;
    width: 592px;
}

.bt-descarte1 {
    background: url('../images/06/bt01.png');
}

.bt-descarte2 {
    background: url('../images/06/bt02.png');
}

.bt-descarte3 {
    background: url('../images/06/bt03.png');
}

.bt-descarte1:hover {
    background: url('../images/06/bt01b.png');
}

.bt-descarte2:hover {
    background: url('../images/06/bt02b.png');
}

.bt-descarte3:hover {
    background: url('../images/06/bt03b.png');
}

/* fim painel descarte */

#feedback-acerto {
    display: none;
    background-color: #28a1a4;
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
}

#feedback-erro {
    display: none;
    background-color: #28a1a4;
    color: #fff;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-radius: 1em;
    font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
    .painel-descarte {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .espaco {
        padding-top: unset;
    }

    .bt-higienizacao1 {
        right: unset;
        top: unset;
    }

    .bt-higienizacao2 {
        right: unset;
        top: unset;
    }

    .bt-higienizacao3 {
        bottom: unset;
        right: unset;
    }

    .bt-higienizacao4 {
        left: unset;
        top: unset;
    }

    .painel-higienizacao {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
























}

@media only screen and (max-width: 425px) {
    .bt-descarte1 {
        background: url('../images/06/bt01.png');
        scale: 0.5;

    }

    .bt-descarte2 {
        background: url('../images/06/bt02.png');
        scale: 0.5;

    }

    .bt-descarte3 {
        background: url('../images/06/bt03.png');
        scale: 0.5;

    }

    .bt-descarte {
        margin: -10px;
    }

    .bt-descarte1:hover {
        background: url('../images/06/bt01b.png');
        scale: 0.5;
    }

    .bt-descarte2:hover {
        background: url('../images/06/bt02b.png');
        scale: 0.5;
    }

    .bt-descarte3:hover {
        background: url('../images/06/bt03b.png');
        scale: 0.5;
    }
}